1.
A database is a structured collection of data organized in a way that a computer program can quickly select, manage, and update specific pieces of data. Databases can be relational (SQL) or non-relational (NoSQL).

SQL (Structured Query Language) Databases:
SQL databases are relational databases that use structured query language for defining and manipulating data.
They have a predefined schema, which means the structure of the data (table names, column names, data types, relationships) must be defined before inserting data.
Examples include MySQL, PostgreSQL, and SQLite.

NoSQL Databases:
NoSQL databases are non-relational databases that provide flexibility in handling unstructured and semi-structured data.
They do not require a fixed schema, allowing you to insert data without first defining its structure.
NoSQL databases are generally more scalable and better suited for handling large sets of distributed data.
Examples include MongoDB, Cassandra, and Redis.

2.
DDL (Data Definition Language):
DDL is a subset of SQL used for defining and managing the structure of a database. Common DDL commands include:

CREATE: Used to create database objects like tables.
CREATE TABLE Students (
   StudentID INT PRIMARY KEY,
   Name VARCHAR(100),
   Age INT
);

DROP: Used to delete database objects like tables.
DROP TABLE Students;

ALTER: Used to modify the structure of a table.
ALTER TABLE Students
ADD COLUMN Grade CHAR(1);

TRUNCATE: Used to remove all records from a table, but retains the structure for future use.
TRUNCATE TABLE Students;

3.
DML (Data Manipulation Language):
DML deals with data manipulation operations. Common DML commands include:

INSERT: Used to insert data into a table.
INSERT INTO Students (StudentID, Name, Age)
VALUES (1, 'John Doe', 20);

UPDATE: Used to modify existing records in a table.
UPDATE Students
SET Age = 21
WHERE StudentID = 1;

DELETE: Used to delete records from a table.
DELETE FROM Students
WHERE StudentID = 1;

4.
DQL (Data Query Language):
DQL is used to query the database for information. The most common DQL command is SELECT:

SELECT * FROM Students WHERE Age > 20;
This query retrieves all columns (*) from the Students table where the age is greater than 20.

5.
Primary Key:
A primary key is a unique identifier for a record in a table.
It must contain unique values and cannot contain NULL.
Example:
CREATE TABLE Employees (
  EmployeeID INT PRIMARY KEY,
  Name VARCHAR(100),
  DepartmentID INT
);

Foreign Key:
A foreign key is a column or a set of columns that refers to the primary key of another table.
It establishes a link between the data in two tables.
Example:
CREATE TABLE Departments (
  DepartmentID INT PRIMARY KEY,
  DepartmentName VARCHAR(100)
);

ALTER TABLE Employees
ADD FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID);

6.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("create database if not exists test2")
mydb.close()


cursor(): The cursor() method creates a cursor object that is used to execute SQL queries and fetch results.

execute(): The execute() method is used to execute a SQL command. In the example, it's a SELECT query. After executing, you can fetch the result using methods like fetchall()

7.
FROM: Specifies the tables from which to retrieve data.
WHERE: Filters the rows based on a specified condition.
GROUP BY: Groups rows that have the same values into summary rows.
HAVING: Filters groups based on a specified condition.
SELECT: Retrieves the desired columns from the tables.
ORDER BY: Sorts the result set based on specified columns.
LIMIT/OFFSET: Specifies the number of rows to retrieve and the number of rows to skip.