1.

In [1]:
import pandas as pd

In [6]:
s = pd.Series([4,8,15,16,23] , index = [1,2,3,4,5])

In [7]:
s

1     4
2     8
3    15
4    16
5    23
dtype: int64

2

In [8]:
list_elem = ['Taher' , 'Pw' , 4,34, 453]

In [9]:
s1 = pd.Series(list_elem)

In [10]:
s1

0    Taher
1       Pw
2        4
3       34
4      453
dtype: object

3

In [16]:
data = {
    'Name' : ["Alice" , "Bob" , "Claire"] , 
        'Age' : [25 ,20, 27], 
        'Gender' : ["female" , "male" , "female"]}

In [20]:
s2 = pd.DataFrame(data)

In [21]:
s2

     Name  Age  Gender
0   Alice   25  female
1     Bob   20    male
2  Claire   27  female

4

A DataFrame in pandas is a 2-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns), whereas a Series is a 1-dimensional array with labels (like a single column of a DataFrame).

Example of Dataframe

In [24]:
data = {
    'Name' : ["Taher" , "Ali" , "Zainab"] , 
        'Age' : [25 ,20, 27], 
        'Gender' : ["Male" , "Male" , "Female"]
}

In [25]:
s3 = pd.DataFrame(data)

In [26]:
s3

     Name  Age  Gender
0   Taher   25    Male
1     Ali   20    Male
2  Zainab   27  Female

Example of Series

In [27]:
data = {
    'Name' : ["Taher" , "Ali" , "Zainab"] , 
        'Age' : [25 ,20, 27], 
        'Gender' : ["Male" , "Male" , "Female"]
}

In [28]:
s4 = pd.Series(data)

In [29]:
s4

Name      [Taher, Ali, Zainab]
Age               [25, 20, 27]
Gender    [Male, Male, Female]
dtype: object

5

Some common functions to manupulate data in Pandas DataFrame are head , info , describe , tail , merge

Example of using tail function, This function fetch the last 5 records of the data

In [32]:
s5 = pd.Series([15,223,335,434,54,62,76,56])

In [33]:
s5.tail()

3    434
4     54
5     62
6     76
7     56
dtype: int64

6

Series and DataFrames are mutable

7